
            *{
                font-size:90px
                }
            #foo{
                color: blue;
            }
            #bar{
                color: blueviolet;
            }